@import "../template/mixins";
@import "../template/settings";


// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Override theme settings (see ../template/settings.scss)
$headingTextShadow: 1px 1px 1px #C6E5EF;
$heading1TextShadow: 2px 2px 2px #C6E5EF;
// $heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

$mainColor: #ffffff;
$headingColor: #101010;

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba(237,157,63,1), rgba(242,178,67,1) );
}

@import "../template/theme";


.reveal section img.plain {
	background: none;
}

.reveal section.disclaimer h2{
  color: red;
}
.reveal section.disclaimer h3{
  color: white;
}

.reveal cite{
  font-size: 20px;
}
/* 1. Style header/footer <div> so they are positioned as desired. */
#header-left {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 30px;
    margin-top: 30px;
    color: #A66E2C;
}
#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
    margin-right: 30px;
    margin-top: 30px;
    color: #A66E2C;
}
#footer-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin-left: 10px;
    margin-bottom: 10px;
}
